Package         Version
--------------- -------
beautifulsoup4  4.8.0  
bs4             0.0.1  
et-xmlfile      1.0.1  
jdcal           1.4.1  
lxml            4.4.0  
numpy           1.17.0 
openpyxl        2.6.2  
pandas          0.25.0 
pip             19.2.1 
python-dateutil 2.8.0  
pytz            2019.1 
selenium        3.141.0
setuptools      40.6.2 
six             1.12.0 
soupsieve       1.9.2  
urllib3         1.25.3 
